<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>BookMarx</title>
  <meta name="description" content="The Home Page of BookMarx">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/img/favicon.ico">

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav>
    <ul class="nav-title">
      <li><a href="index.html">BookMarx</a></li>
    </ul>

    <div class="searchContainer">
      <div class="folderSearchBar">
        <form action="" method="GET">
        <input type="text" name="search" placeholder="Search" value="<%= search %>"/>
        <select name="ordering">
          <option value="asc" <% if (ordering === 'asc') {%> selected <%} %>>A-Z</option>
          <option value="desc" <% if (ordering === 'desc') {%> selected <%} %>>Z-A</option>
        </select>
          <input type="submit" value="Find">
      </form>
      </div>
    </div>
    <ul class="navbar-right">
      <li class="navbar-hide"><a href="/bookmarx/add" class="tooltip"><img src="/img/ic_bookmark_white_48dp_2x.png" alt="bookmark"><span class="tooltiptext">Add a BookMarx</span></a></li>
      <li class="navbar-hide"><a href="/bookmarx/addfolder" class="tooltip"><img src="/img/ic_create_new_folder_white_48dp_2x.png" alt="folder"><span class="tooltiptext">Add a Folder</span></a></li>
      <!--li class="navbar-hide"><a href="/bookmarx/export" class="tooltip"><img src="/img/ic_import_export_white_48dp_2x.png" alt="bookmark"><span class="tooltiptext">Import/Export BookMarx</span></a></li-->
      <li class="navbar-hide"><a href="/bookmarx/settings" class="tooltip"><img class="cog" src="/img/ic_settings_white_48dp_2x.png" alt="bookmark"><span class="tooltiptext">Settings</span></a></li>
      <li class="navbar-hide"><a class="tooltip" href="/logout"><img src="/img/ic_exit_to_app_white_48dp_2x.png" alt="settings"><span class="tooltiptext" >Logout</span></a></li>
    </ul>
  </nav>

  <div class="container">
    <section class="side-nav-container desktopView">
      <h2>Quicklinks</h2>
      <ul>
        <li><a href="/bookmarx">My BookMarx</a></li>
        <li><a href="/bookmarx/mostvisited">Most Visited</a></li>
        <li><a href="/bookmarx/favorites">Favorites</a></li>
        <li class="side-nav-divider"></li>
        <li><a>Videos</a></li>
        <li><a>Images</a></li>
        <li><a>Articles</a></li>
      </ul>
    </section>
    <section class="slide-container">
      <div class="slide desktopView">
        <!-- Need to make templates TODO -->
        <% folderList.forEach(function(folder) { %>
        <div class="column- folderContainer">
          <div class="folder">
            <h2><%= folder.name %></h2>
            <% if (selectedFolder.selectedFolder == folder.id) { %>
            <a class="folderToggle openFolder" href="/bookmarx/<%= folder.id %>"><img src="/img/ic_keyboard_arrow_up_black_48dp_2x.png" alt="arrow"/></a>
            <%}else {%>
            <a class="folderToggle openFolder" href="/bookmarx/<%= folder.id %>"></a>
            <%}%>

            <% if (folder.name!='Default') { %>
            <a href="/foldersetting/<%= folder.id %>"><img class="cog" src="/img/ic_settings_black_48px.svg" alt="settings"/></a>
            <% } %>
          </div>
        </div>
        <% }); %>
      </div>
      <div class="slide mobileView">
        <div class="column- folderContainer">
          <form action="/bookmarx/" method="GET">
            <span>Folder: </span>
            <select name="folder_id">
              <% folderList.forEach(function(folder) { %>
                <% if (selectedFolder.selectedFolder == folder.id) { %>
                  <option value="<%= folder.id %>" selected><%= folder.name %></option>
                <% } else { %>
                  <option value="<%= folder.id %>"><%= folder.name %></option>
                <% }%>
              <% }); %>
            </select>
            <input type="submit" value="Change">
          </form>
        </div>
      </div>
    </section>

    <section class="right-container">
      <div class="slide">

        <div class="folderContent">
          <ul>
            <% bookmarxList.forEach(function(bookmarx) { %>
              <li>
              <!--count the click -->
              
                <div class="bookmark"  >
                  <a href=# onclick="window.open('<%= bookmarx.url %>');
                                    window.open('/bookmarx/click/<%= bookmarx.folder_id%>/<%= bookmarx.id %>/1');" >
  
                    <h2><%= bookmarx.name %></h2>
                    <h3><%= bookmarx.url %></h3>
  
                  </a>
                  <a class="closeButton" href="/bookmarx/delete/<%= bookmarx.id %>"><img src="/img/ic_close_black_48dp_2x.png" alt="x"></a>
                  <div class="card__action-bar">
                    <form action="/bookmarx/staraction/1" method="POST">
                      <input type="hidden" name="bookmarx_id" value="<%= bookmarx.id %>">
                      <% if (bookmarx.favorite==1) { %>
                        <button class="fab favorite"><img src="/img/ic_star_white_48dp_2x.png" alt="star"></button>
                      <% } else { %>
                        <button class="fab"><img src="/img/ic_star_white_48dp_2x.png" alt="star"></button>
                    <% } %>
                    </form>
                    <a class="card__button" href="/bookmarx/edit/<%= bookmarx.id %>">EDIT</a>
                  </div>

                </div>
                
              </li>
            <% }); %>
          </ul>
        </div>

      </div>
    </section>
  </div>

  <div class="overlay hide" onclick="closeOverlay(this)">
  </div>

  <div class="overlayContainer">
    <div class="mini-fab-container hide">
      <button class="mini-fab" onclick="window.location.replace('add.html')"><img src="/img/ic_bookmark_white_48dp_2x.png" alt="bookmark"></button>
      <button class="mini-fab" onclick="window.location.replace('folder.html')"><img src="/img/ic_create_new_folder_white_48dp_2x.png" alt="folder"></button>
    </div>
    <a class="fab" href="/bookmarx/add"><img src="/img/ic_add_white_48dp_2x.png" alt="plus"></a>
  </div>

  <nav class="nav-mobile mobileView">
    <ul class="mobileView">
      <li><a href="/bookmarx/add"><img src="/img/ic_bookmark_border_white_48dp_2x.png"></a></li>
      <li><a href="/bookmarx/addfolder"><img src="/img/ic_create_new_folder_white_48dp_2x.png"></a></li>
      <li class="active"><a href="/bookmarx"><img src="/img/ic_home_white_48dp_2x.png"></a></li>
      <li><a href="/bookmarx/settings"><img src="/img/ic_settings_white_48dp_2x.png"></a></li>
      <li><a href="/logout"><img src="/img/ic_exit_to_app_white_48dp_2x.png"></a></li>
    </ul>
  </nav>
</body>

</html>
